<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="MANAGED" />
			 <dataSource type="JNDI">
			 	<property name ="data_source" value="java:jboss/datasources/postgresDS"/>
			 </dataSource>
		</environment>
	</environments>
	<mappers>
 		<mapper resource="py/pol/una/ii/pw/mybatis/mappers/ProveedorMapper.xml"/>
 		<mapper resource="py/pol/una/ii/pw/mybatis/mappers/ProductosMapper.xml"/>
 		<mapper resource="py/pol/una/ii/pw/mybatis/mappers/ClientesMapper.xml"/>
 		<mapper resource="py/pol/una/ii/pw/mybatis/mappers/ComprasCabeceraMapper.xml"/>
 		<mapper resource="py/pol/una/ii/pw/mybatis/mappers/ComprasDetallesMapper.xml"/>
 		<mapper resource="py/pol/una/ii/pw/mybatis/mappers/VentasCabeceraMapper.xml"/>
 		<mapper resource="py/pol/una/ii/pw/mybatis/mappers/VentasDetallesMapper.xml"/>
 		
  	</mappers>
</configuration>